@page
@{
    ViewData["Title"] = "Case Change";
    ViewData["DemoNumber"] = 98;
}
<div class="mx-auto max-w-screen-2xl px-4 py-6 sm:px-6 lg:px-8">
    <div class="grid gap-6 lg:grid-cols-[260px_1fr]">
        <partial name="Demos/_DemoLayout" />
        <div>
            <div class="demo-card">
                <div class="demo-card-header">Case Change</div>
                <div class="demo-card-body">
                    <p class="demo-description">Change selected text to uppercase, lowercase, or title case using the case change options in the toolbar.</p>

                    <richtextbox
                        id="caseChangeEditor"
                        name="caseChangeEditor"
                        toolbar="{bold,italic,underline,linethrough,superscript,subscript}|{forecolor,backcolor}|{justifyleft,justifycenter,justifyright,justifyfull}|{insertorderedlist,insertunorderedlist,multilevellist,inserttodolist,indent,outdent} #{paragraphs:toggle,fontname:toggle,fontsize:toggle,inlinestyle,lineheight,casechange}|{undo,redo} / {formatpainter,removeformat,cut,copy,paste,delete,find}|{insertlink,unlink,insertblockquote,insertemoji,insertchars}|{inserttable,insertbookmark,insertimage,insertgallery,insertvideo,insertdocument,inserttemplate,insertcode} #{preview,code,selectall}|{importword,exportword,exportpdf} / {insertcomment,trackchanges,insertmention}|{spellcheck,autoformatting,toggleborder}|{paragraphstyle,toggle_paragraphop,menu_paragraphop} #{insertmergefield,insertfootnote,inserttoc,insertpagebreak,revisionhistory}|{fullscreenenter,fullscreenexit,togglemore}"
                        width="100%"
                        height="300px"
                        html="<p>Select any of the text below and use the case change button to transform it:</p><p>this is lowercase text that can be changed to UPPERCASE.</p><p>THIS IS UPPERCASE TEXT THAT CAN BE CHANGED TO lowercase.</p><p>this is a sentence for Title Case conversion.</p>"></richtextbox>

                    <div class="code-panel">
                        <pre><code>&lt;richtextbox
    name="caseChangeEditor"
    toolbar="full"
    height="300px"
    html="..." /&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
