@page
@{
    ViewData["Title"] = "Paragraph Format";
    ViewData["DemoNumber"] = 17;
}
<div class="mx-auto max-w-screen-2xl px-4 py-6 sm:px-6 lg:px-8">
    <div class="grid gap-6 lg:grid-cols-[260px_1fr]">
        <partial name="Demos/_DemoLayout" />
        <div>
            <div class="demo-card">
                <div class="demo-card-header">Paragraph Format</div>
                <div class="demo-card-body">
                    <p class="demo-description">Apply heading levels (H1 through H6) and normal paragraph formatting using the paragraph dropdown.</p>

                    <richtextbox
                        id="paragraphEditor"
                        name="paragraphEditor"
                        toolbar="default"
                        width="100%"
                        height="300px"
                        html="<h1>Heading 1</h1><h2>Heading 2</h2><h3>Heading 3</h3><h4>Heading 4</h4><h5>Heading 5</h5><h6>Heading 6</h6><p>Normal paragraph text. Use the paragraph dropdown in the toolbar to change the format of the current block.</p>"></richtextbox>

                    <div class="code-panel">
                        <pre><code>&lt;richtextbox
    name="paragraphEditor"
    toolbar="default"
    height="300px"
    html="&lt;h1&gt;Heading 1&lt;/h1&gt;&lt;h2&gt;Heading 2&lt;/h2&gt;&lt;h3&gt;Heading 3&lt;/h3&gt;&lt;h4&gt;Heading 4&lt;/h4&gt;&lt;h5&gt;Heading 5&lt;/h5&gt;&lt;h6&gt;Heading 6&lt;/h6&gt;&lt;p&gt;Normal paragraph text.&lt;/p&gt;" /&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
